/* Css imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* my fonts */

@font-face {
    font-family: kaushan;
    src: url("../media/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
}

/* Global css */
html{
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    min-height: 80px;
    /* background-color: red; */
    display: flex;
}
.section_heading{
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    font-family: poppins;
    color: #dbdbdb;
    user-select: none;
}
.mobile{
    display: none;
}


/* css for header */

.header{
    width: 100%;
    /* height: 90px; */
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99;
    transition: 0.3s;
}

.header_container{
    justify-content: space-between;
}

.logo{
    width: 15%;
    /* height: 80px; */
    font-size: 34px;
    font-family: kaushan;
    user-select: none;
    color: white;
    cursor: pointer;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 70%;
    /* height: 80px; */
    /* background-color: blue; */
    /* display: flex; */
}
.nav>ul{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    list-style: none;
    /* height: 80px; */
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}
.nav > ul > li{
    text-align: center;
    height: 90px;
    width: 14.28%;
    line-height: 90px;
    /* color: #fff; */
    /* padding: 0px 8px; */
    cursor: pointer;
    transition: 0.2s;
}
.nav > ul >li:hover{
    color: orange;
}


/* css for banner */

.banner{
    width: 100%;
    height: 90vh;
    background-color: rgba(0,0,0,.4);
    background-image: url("../media/img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: -100px; */
    background-blend-mode: saturation;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner_content{
    width: 50%;
    /* background-color: #000; */
    height: 100px;
    margin-top: 100px;

}

.search{
    width: 100%;
    height: 40px;
    /* background-color: red; */
    display: flex;
}

.search-input{
    width: 90%;
    height: 40px;
    text-indent: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.search_icon{
    width: 10%;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}
.search_icon:hover{
    background-color: #493B2A;
    color: white;
    /* border: 1px solid white; */
}

/* Css for places */

.places{
    width: 100%;
    padding: 50px 0px;
    background-color: #efefd0c4; /*#493B2A; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}
.places >h1{
    color: #000;
}

.places_container{
    justify-content: space-between;
    flex-wrap: wrap;
}

.place{
    width: 24%;
    height: 350px;
    border-radius: 10px;
    /* background-color: yellow; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.175);
    background-blend-mode: saturation;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.place:nth-child(1){
    background-image: url("../media/img/place1.jpeg");
  
}
.place:nth-child(2){
    background-image: url("../media/img/place3.jpeg");
   
}
.place:nth-child(3){
    background-image: url("../media/img/place2.jpeg");
  
}
.place:nth-child(4){
    background-image: url("../media/img/place4.jpeg");
    
}
.place:nth-child(5){
    background-image: url("../media/img/place5.jpeg");
    
}
.place:nth-child(6){
    background-image: url("../media/img/place8.jpeg");
    
}
.place:nth-child(7){
    background-image: url("../media/img/place7.jpeg");
    
}
.place:nth-child(8){
    background-image: url("../media/img/place6.jpeg");
    
}

.place:hover > .card_details{
    transform: translateY(0px);
}

.card_details{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(300px);
    transition: 0.5s;
}

.card_title{
    font-family: poppins;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    top: 10px;
}

.card_btn{
    padding: 8px 20px;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    border: 1px solid white;
    cursor: pointer;
}
.card_btn:hover{
    background-color: #c7c7c780;
}
.card_btn:active{
    background-color: transparent;
}


/* css for Packges */

.packages{
    width: 100%;
    padding: 50px 0px;
    background-color: #efefd0c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
}
.packages > h1{
    color: #493B2A;
}

.packages_container{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.package{
    width: 19%;
    min-height: 360px;
    background-color: #493b2a;
    font-family: poppins;
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;


}

.package:hover .package_img > img{
    transform: scale(1.1);
}

.package_img{
    width: 100%;
    height: 200px;
    /* background-color: blue ; */
    overflow: hidden;
}

.package_img > img{
    width: 100%;
    height: 100%;
    transition: .3s;
}
.package_detail{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
}

.package_title{
    font-size: 16px;
    color: #fff;
}
.price{
    font-weight: bold;
    font-size: 12px;
}
.ratings{
    width: 115px;
    height: 20px;
    /* background-color: red; */
    position: relative;
}
.gray_star{
    width: 115px;
    height: 20px; 
    display: flex;
    color: gray;
    font-size: 16px;
    /* background-color: green; */
    position: absolute;

}
.yellow_star{
    /* background-color: blue ; */
    width: 70%;
    color: gold;
    display: flex;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    
}

/* Css for destination */

.destinations{
    width: 100%;
    height: 630px;
    /* background-color: red; */
    position: relative;
    overflow: hidden;
}
.vid{
    /* width: 100%; */  /*never give width to video*/
    position: absolute;
}

.vid_overlay{
    width: 100%;
    height: 630px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-size: 100px;
    color: #fff;
    font-weight: bold;
}

/* Css for gallery */

.gallery_section{
    width: 100%;
    height: 600px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.gallery{
    width: 20%;
    height: 300px;
    /* background-color: yellow; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
}
.gallery:hover{
    opacity: 1;
    filter: grayscale(0);
    /* transform: scale(1.2); */
    /* border: 5px solid transparent; */
    z-index: 2;
}
.gallery:nth-child(1){
    background-image: url("https://images.pexels.com/photos/2440079/pexels-photo-2440079.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(2){
    background-image: url("https://images.pexels.com/photos/3225528/pexels-photo-3225528.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(3){
    background-image: url("https://images.pexels.com/photos/5092763/pexels-photo-5092763.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(4){
    background-image: url("https://images.pexels.com/photos/8065131/pexels-photo-8065131.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(5){
    background-image: url("https://images.pexels.com/photos/7026306/pexels-photo-7026306.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(6){
    background-image: url("https://images.pexels.com/photos/1891882/pexels-photo-1891882.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(7){
    background-image: url("https://images.pexels.com/photos/1576937/pexels-photo-1576937.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(8){
    background-image: url("https://images.pexels.com/photos/2108813/pexels-photo-2108813.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(9){
    background-image: url("https://images.pexels.com/photos/2659475/pexels-photo-2659475.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.gallery:nth-child(10){
    background-image: url("https://images.pexels.com/photos/3889987/pexels-photo-3889987.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

/* Css for testimonials */


.testimonials{
    width: 100%;
    padding: 50px 0px;
    background-color: #efefd0c4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}
.testimonials > h1{
    color: black;
}




.user_picture{
    /* background-color: yellow; */
    width: 20%;
    height: 330px;
    /* background-color: orange; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.user_picture img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.testimonial{
    width: 80%;
    /* background-color: yellowgreen; */
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.testimonial_title{
    font-size: 24px;
    font-family: poppins;
}
.testimonial > p{
    font-family: poppins;
    font-size: 16px;
}
.user_gallery{
    width: 100%;
    /* background-color: orange; */
    height: 200px;
    display: flex;
    column-gap: 15px;
}
.gallery_img{
    width: 20%;
    height: 200px;
     /* background-color: orange; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    
}
.gallery_img > img{
    width: 100%;
}

/* Css for contact */

.contact{
    width: 100%;
    height: 450px;
    /* background-color: gray; */
    background-image: url("../media/img/contact1.jpg");
    background-size: cover;
    background-position-y: -350px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: saturation;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
}
.contact_heading{
    color: #fff;
    font-size: 58px;
    font-weight: 200;
}
.contact_form{
    width:50%;
    min-height: 200px;
    /* background-color: gray; */
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.form_input{
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    text-indent: 4px;
    color: #fff;
}
.form_input::placeholder{
    color: lightgray;
}

.contact_btn{
padding: 10px 40px;
border-radius: 10px;
cursor: pointer;
background-color: orange;
color: white;
outline: none;
font-size: 18px;
margin-top: 10px;
text-transform: uppercase;
border: none;
}

.contact_btn:hover{
    background-color: #db8e00;
}










/* Css for blog section */

.blog_section{
    width: 100%;
    padding: 50px 0px;
    background-color: #efefd0c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.blog_section > h1{
    color: #000;
}
.blog_container{
    /* background-color: red; */
    column-gap: calc(10%/2);
}
.blog_card{
    width: 30%;
    min-height: 400px;
    background-color: #493b2a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.blog_card:hover .blog_img >img {
    transform: scale(1.1);
}
.blog_img{
    width: 100%;
    height: 170px ;
    /* background-color: blue; */
    overflow: hidden;
}
.blog_img > img{
    width: 100%;
    transition: 0.3s;
}
.blog_content{
    padding: 10px;
    font-family: poppins;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: white;
}
.blog_title{
    font-size: 18px;
    font-family: poppins;
    font-weight: 600;
}
.blog_content > p{
    font-family: poppins;
    font-size: 14px;
    margin-bottom: 4px;
    color: #ededed;
}

.author{
    font-weight: bold;
    font-size: 14px;
    font-family: poppins;
    color: #fff;
}
.blog_btn{
    padding: 8px 16px;
    align-self: flex-start;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.blog_btn:hover{
    background-color:#db8e00 ;
}
.blog_btn:active{
    background-color: orange;
}

/* Css for footer */

.footer{
    width: 100%;
    padding: 50px 0px;
    background-color: #493B2A;
    display: flex;
    justify-content: center;
}

.footer_container{
    width: 90%;
    /* background-color: red; */
    /* align-items: center; */
    justify-content: space-between;
}
.footer_sections{
    width: 24%;
    /* height: 300px; */
    /* background-color: yellow; */
    padding: 30px;
}
.footer_sections > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-family: poppins;
    font-size: 16px;
}
.footer_sections >ul >li >a{
    text-decoration: none;
    color: #dbdbdb;
}
.footer_sections >ul >li >a:hover{
    color: #db8e00;
}
.list_title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.social_icons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #dbdbdb;
}
.social_icons > i:hover{
    color: #db8e00;
}
.map{
    width: 35%;
    height: 300px;
    overflow: hidden;
    /* border-radius: 100px; */
}
.map >iframe{
    border-radius: 10px;
}



/* Css for media Query */

@media (min-width:320px) and (max-width:500px) {
.header{
    height: 80px;
}
 .header_container{
     width: 100%;
     background-color: rgb(73 59 42);
     flex-direction: column;
 }
 .mobile{
     display: block;
 }
 .desktop{
     display: none;
 }

 .logo{
     width: 100%;
     font-size: 28px;
     padding:  20px;
 }
 .nav{
     width: 100%;
     background-color: rgb(73 59 42);
        margin-top: -10px;
    
     /* flex-direction: column; */
 }
 .nav >ul {
     width: 100%;
     flex-direction: column;
     height: 0;
     overflow: hidden;
 }
.nav >ul >li {
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 15px;

}

/* media css for banner */

.banner{
    height: 58vh;
}
.banner_content{
    width: 80%;
    margin-top: 180px;
    height: 0;
}

.search-input {
    height: 35px;
    font-size: 14px;
}
.search_icon{
    height: 35px;
    line-height: 35px;
}





/* media css for places */

.place{
    width: 100%;
}



/* media css for destination */

.destinations{
    height: 300px;
}

.vid{
    height: 300px;
}

.vid_overlay{
    height: 300px;
    font-size: 30px;
}


/* media css for packages */

.packages_container{
    flex-direction: column;
    row-gap: 20px;
}



.package{
    width: 100%;
    min-height: 0;
    height: auto;
}



/* media css for blog section */

.blog_container{
 flex-direction: column;
 row-gap: 20px;
}

.blog_card{
    width: 100%;
    min-height: 0;
    height: auto;
}


/* media css for footer section */

.footer_container{
    flex-direction: column;
}

.footer_sections{
    width: 100%;
    text-align: center;
}

.footer_container:nth-child(3){
    height: 150px;
    min-height: 0;
}

/* media css for contact */
.contact {
    width: 100%;
    height: auto;
    /* background-color: gray; */
    background-position-y: -0px;
    row-gap: 15px;
    /* background-position-x: -225px; */
    justify-content: flex-start;
}

.contact_heading {
    font-size: 30px;
    font-weight: 200;
}
.contact_form {
    width: 80%;
    min-height: 0;
    /* background-color: gray; */
}
.form{
    margin-bottom: 18px;
}
.form_input {
    width: 80%;
    padding: 8px;
    border-radius: 8px;
    text-indent: 2px;
}
.contact_btn {
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 6px;
}

/* Gallery css media query */

.gallery_section {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: auto;
    column-gap: 10px;
    background-color: #efefd0c4;
}

.gallery{
    width: 100%;
    flex-shrink: 0;
    
}

.gallery_section::-webkit-scrollbar{

height: 0px;
background-color: orange;
}

.gallery::-webkit-scrollbar-thumb{
    color: orange;
}

/* media css for Testimonial section */

.testimonials-container{
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    
}

.user_picture{
    width: 100%;
    background-color: orange;
}

.user_picture img {
    width: 100%;
    height:-webkit-fill-available;
    object-fit: inherit;
}
.testimonial{
    width: 100%;
    padding: 0px;
}

.gallery_img{
    height: 120px;
    background-color: orange;
}
.gallery_img img{
    height: -webkit-fill-available;
}

}

/* ################################################################## */


@media (min-width:501px) and (max-width:768px) {


    .header_container{
        width: 100%;
        background-color: rgb(73 59 42);
        flex-direction: column;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
   
    .logo{
        width: 100%;
        font-size: 28px;
        padding:  20px;
    }
    .nav{
        width: 100%;
        background-color: rgb(73 59 42);
           margin-top: -10px;
       
        /* flex-direction: column; */
    }
    .nav >ul {
        width: 100%;
        flex-direction: column;
        height: 0;
        overflow: hidden;
    }
   .nav >ul >li {
       text-align: center;
       height: 50px;
       width: 100%;
       line-height: 50px;
       font-size: 15px;
   
   }
   
/* css for places */

.place{
    width: 49%;
}






/* css for packages */

.packages_container{
    flex-wrap: wrap;
    row-gap: 20px;
}

.package{
    width: 49%;
}

/* css for gallery */


.gallery_section{
    gap: 10px;
    overflow-y: scroll;
}

.gallery{
    width: 49%;

}

/* css for contact */

.contact{
    background-position-y: -50px ;
}

/* css for blog */

.blog_container{
    gap: 20px;
    flex-wrap: wrap;
}
.blog_card{
    width: 47%;
}

/* css for testimonials */

.user_picture{
    width: 50%;
    height: max-content;
}

/* css for footer */
.footer_container{
    flex-direction: column;
    text-align: center;
}

.footer_sections{
    width: 100%;
}



}

